#new-entries {
  width: 25rem;
}

#form-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

ul#people {
  border: .15rem rgb(0, 109, 128) dashed;
  padding: .5rem;
  max-width: 95%;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}

.person {
  list-style-type: none;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  width: 19rem;
  border: black solid .1rem;
  margin: .2rem;
  padding: .5rem;
}